@page "/about-me"
@model Chirp.Razor.Pages.AboutMe

@{
    ViewData["Title"] = "Chirp!";

    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2> About Me </h2>
    <p>
        Name: @User.Identity.Name 
        <br/>
        Email: @Model.Email
        <br/>
        Cheeps: @Model.NumberOfCheeps
        
    </p>
    
    <button onclick="window.location = '/forget-me'"> Forget me </button>
    
    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/about-me?page=@n">@n</a>
            }
        </strong>
    </p>

    <ul id="messagelist" class="cheeps">
        
        @if (Model.Cheeps.Any())
        {
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.Name">@cheep.Author.Name</a>
                        </strong>


                        <form method="post" asp-page-handler="delete">
                            <input type="hidden" name="date" value='@cheep.Timestamp'/>
                            <button type="submit" style="float: right">Remove</button>
                            @Html.AntiForgeryToken()
                        </form>

                        <br />
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </ul>
    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/about-me?page=@n">@n</a>
            }
        </strong>
    </p>
    
</div>
</body>
</html>