@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/?page=@n">@n</a>
            }
        </strong>
    </p>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.Name">@cheep.Author.Name</a>
                        </strong>
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <input type="button" value="Follow" onclick="location.href='@Url.Action()'" />
                        }

                        <br />
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/?page=@n">@n</a>
            }
        </strong>
    </p>
</div>
