@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";

    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/?page=@n">@n</a>
            }
        </strong>
    </p>

    <ul id="messagelist" class="cheeps">
        @if(User.Identity.IsAuthenticated){
            <div>
                <form method="post">
                    <p>Whats on your mind? <br />
                        <input type="text" size="80%" maxlength="160" asp-for="CheepText" id="CheepText" name="CheepText" />
                        <input type="submit" value="Cheep" />
                    </p>
                    @Html.AntiForgeryToken()
                </form>
            </div>
        }
        @if (Model.Cheeps.Any())

        {
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.Name">@cheep.Author.Name</a>
                        </strong>

                        @if (User.Identity.IsAuthenticated) //Check lige om du selv er authoren??????
                        {
                            @if (Model.Following.Contains(cheep.Author.Name))
                            {
                            <form method="post" asp-page-handler="Unfollow" asp-route-authorName="@cheep.Author.Name">
                                <input type="hidden" name="author" value="@cheep.Author.Name" />
                                <button type="submit" style="float: right">Unfollow</button>
                                @Html.AntiForgeryToken()
                            </form>
                            }
                            else
                            {
                            <form method="post" asp-page-handler="Follow" asp-route-authorName="@cheep.Author.Name">
                                <input type="hidden" name="author" value="@cheep.Author.Name" />
                                <button type="submit" style="float: right">Follow</button>
                                @Html.AntiForgeryToken()
                            </form>
                            }
                        }
                        
                        <br />
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </ul>
    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/?page=@n">@n</a>
            }
        </strong>
    </p>
</div>
