@page "/"
@model Chirp.Razor.Pages.PublicModel
@inject Chirp.Core.ICheepRepository cheepRepo

@{
    ViewData["Title"] = "Chirp!";

    Layout = "Shared/_Layout";

    Model.Cheeps = await cheepRepo.GetCheeps();
}

<div>
    <h2> Public Timeline </h2>
    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/?page=@n">@n</a>
            }
        </strong>
    </p>

    <ul id="messagelist" class="cheeps">
        @if(User.Identity.IsAuthenticated){
            <div>
            </div>
        }
        @if (Model.Cheeps != null)
        {
            Console.WriteLine("This should be magni piiii");
            List<CheepDTO> chep = Model.Cheeps;
            foreach(CheepDTO c in chep){
                Console.WriteLine($"Test {c.Message}");
            }
        }
        @if (Model.Cheeps == null)
        {
            Console.WriteLine("This should'nt be magni piiii");
            List<CheepDTO> chep = Model.Cheeps;
            foreach(CheepDTO c in chep){
                Console.WriteLine($"Test {c.Message}");
            }
        }

        @if (Model.Cheeps.Count > 0)

        {
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.Name">@cheep.Author.Name</a>
                        </strong>

                        @if (User.Identity.IsAuthenticated) //Check lige om du selv er authoren??????
                        {
                            <form method="post" >
                            @if (Model.Following.Contains(cheep.Author.Name))
                            {
                                @* <input type="hidden" name="author" value="@cheep.Author.Name" /> *@
                                <button type="submit" asp-page-handler="Unfollow" asp-route-authorName="@cheep.Author.Name" style="float: right">Unfollow</button>
                            }
                            else
                            {
                                @* <input type="hidden" name="author" value="@cheep.Author.Name" /> *@
                                <button type="submit"  asp-page-handler="Follow" asp-route-authorName="@cheep.Author.Name" style="float: right">Follow</button>
                            }
                                @Html.AntiForgeryToken()
                            </form>
                        }
                        
                        <br />
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </ul>
    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/?page=@n">@n</a>
            }
        </strong>
    </p>
</div>
