@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/@routeName?page=@n">@n</a>
            }
        </strong>
    </p>
    <ul id="messagelist" class="cheeps">
        @if(User.Identity != null && User.Identity.IsAuthenticated && User.Identity.Name != null && User.Identity.Name.Equals(routeName)){
            <li>
                @await Html.PartialAsync("AddCheep.cshtml", Model.AddCheepModel)
            </li>
        }
        @if (Model.Cheeps.Any())
        {
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.Name">@cheep.Author.Name</a>
                        </strong>
                        @if (User.Identity != null && User.Identity.IsAuthenticated && cheep.Author.Name != User.Identity.Name) //Check lige om du selv er authoren??????
                        {
                            <form method="post">
                                <input type="hidden" value='@cheep.Author.Name' asp-for="authorName" id="authorName" name="authorName" />
                                @if (Model.Following.Contains(cheep.Author.Name))
                                {
                                    @* <input type="hidden" name="author" value="@cheep.Author.Name" /> *@
                                    <input type="hidden" value="unfollow" asp-for="method" id="method" name="method" />
                                    <button type="submit" style="float: right">Unfollow</button>
                                }
                                else
                                {
                                    @* <input type="hidden" name="author" value="@cheep.Author.Name" /> *@
                                    <input type="hidden" value="follow" asp-for="method" id="method" name="method" />
                                    <button type="submit" style="float: right">Follow</button>
                                }
                                @Html.AntiForgeryToken()
                            </form>
                        }
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
            
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </ul>
    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/@routeName?page=@n">@n</a>
            }
        </strong>
    </p>
</div>
