@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/@routeName?page=@n">@n</a>
            }
        </strong>
    </p>
    <ul id="messagelist" class="cheeps">
        @if(User.Identity.IsAuthenticated && User.Identity.Name.Equals(routeName)){
            <li>
                @await Html.PartialAsync("AddCheep.cshtml", Model.AddCheepModel)
            </li>
        }
        @if (Model.Cheeps.Any())
        {
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.Name">@cheep.Author.Name</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
            
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </ul>
    <p>
        <strong>
            @for (int n = 1; n <= Model.PageCount; n++)
            {
                <a href="/@routeName?page=@n">@n</a>
            }
        </strong>
    </p>
</div>
